Node-RED/tello-statusmsg.jso
[{"id":"6d5d7ac0.30a7c4","type":"udp out","z":"ecd81ac.0812868","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"52955","base64":false,"multicast":"false","x":810,"y":160,"wires":[]},{"id":"22f776b1.ef18b2","type":"inject","z":"ecd81ac.0812868","name":"land","topic":"","payload":"land","payloadType":"str","repeat":"","crontab":"","once":false,"x":236.25,"y":158,"wires":[["6d5d7ac0.30a7c4"]]},{"id":"1ee89fd3.c0aa88","type":"debug","z":"ecd81ac.0812868","name":"","active":true,"console":"false","complete":"false","x":765.25,"y":212.75,"wires":[]},{"id":"69801851.db9858","type":"function","z":"ecd81ac.0812868","name":"Takeoff","func":"var message = new Buffer( 'command');\n/*\n\tclient.send(message, 0, message.length, PORT, HOST, function(err, bytes) {\n\t\t\t\tif (err) throw err;\t\n\t\t\t});\n*/\nmsg.payload = message\nnode.send(msg)\nmessage = new Buffer( 'takeoff');\nmsg.payload = message\nreturn msg;","outputs":1,"noerr":0,"x":406.5,"y":216.25,"wires":[["6d5d7ac0.30a7c4","1ee89fd3.c0aa88"]]},{"id":"c9c3a3f7.762368","type":"inject","z":"ecd81ac.0812868","name":"takeoff","topic":"","payload":"takeoff","payloadType":"str","repeat":"","crontab":"","once":false,"x":236.25,"y":218,"wires":[["69801851.db9858"]]},{"id":"bfc541a9.e24a58","type":"function","z":"ecd81ac.0812868","name":"up60","func":"dis = 60\nvar message = new Buffer( 'up '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":395.5,"y":267.25,"wires":[["6d5d7ac0.30a7c4","1ee89fd3.c0aa88"]]},{"id":"490905ce.8e2c34","type":"inject","z":"ecd81ac.0812868","name":"up60","topic":"","payload":"Up60","payloadType":"str","repeat":"","crontab":"","once":false,"x":236.25,"y":278,"wires":[["bfc541a9.e24a58"]]},{"id":"c287dd7d.5b2ba","type":"function","z":"ecd81ac.0812868","name":"down60","func":"dis = 60\nvar message = new Buffer( 'down '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":409.5,"y":319.25,"wires":[["6d5d7ac0.30a7c4"]]},{"id":"e8a39dab.21fee8","type":"inject","z":"ecd81ac.0812868","name":"down60","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":236.25,"y":318,"wires":[["c287dd7d.5b2ba"]]},{"id":"c8ec2c0c.f61818","type":"function","z":"ecd81ac.0812868","name":"right30","func":"dis = 30\nvar message = new Buffer( 'right '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":408.5,"y":378.25,"wires":[["6d5d7ac0.30a7c4"]]},{"id":"7acdd57e.7f20ac","type":"inject","z":"ecd81ac.0812868","name":"right30","topic":"","payload":"right30","payloadType":"str","repeat":"","crontab":"","once":false,"x":236.25,"y":378,"wires":[["c8ec2c0c.f61818"]]},{"id":"389168da.378658","type":"function","z":"ecd81ac.0812868","name":"left30","func":"dis = 30\nvar message = new Buffer( 'left '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":396.25,"y":438,"wires":[["6d5d7ac0.30a7c4"]]},{"id":"3cab11bd.a8edf6","type":"inject","z":"ecd81ac.0812868","name":"left30","topic":"","payload":"left30","payloadType":"str","repeat":"","crontab":"","once":false,"x":236.25,"y":438,"wires":[["389168da.378658"]]},{"id":"e90eaf8b.2acae","type":"function","z":"ecd81ac.0812868","name":"forward60","func":"dis = 60\nvar message = new Buffer( 'forward '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":420.5,"y":502.25,"wires":[["6d5d7ac0.30a7c4"]]},{"id":"430829f0.f4301","type":"inject","z":"ecd81ac.0812868","name":"forward60","topic":"","payload":"Up60","payloadType":"str","repeat":"","crontab":"","once":false,"x":226.25,"y":498,"wires":[["e90eaf8b.2acae"]]},{"id":"2131c713.81","type":"function","z":"ecd81ac.0812868","name":"back60","func":"dis = 60\nvar message = new Buffer( 'back '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":424.5,"y":554.25,"wires":[["6d5d7ac0.30a7c4"]]},{"id":"e5f3b7a4.a87f5","type":"inject","z":"ecd81ac.0812868","name":"back60","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":236.25,"y":558,"wires":[["2131c713.81"]]},{"id":"d827f119.f984f","type":"function","z":"ecd81ac.0812868","name":"cw30","func":"dis = 30\nvar message = new Buffer( 'cw '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":419.5,"y":610.25,"wires":[["c0c4d190.38081"]]},{"id":"739850ea.ae0988","type":"inject","z":"ecd81ac.0812868","name":"cw30","topic":"","payload":"cw360","payloadType":"str","repeat":"","crontab":"","once":false,"x":236.25,"y":618,"wires":[["d827f119.f984f"]]},{"id":"59226d48.4e83c4","type":"function","z":"ecd81ac.0812868","name":"ccw360","func":"dis = 360\nvar message = new Buffer( 'ccw '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":442.5,"y":744.25,"wires":[["c0c4d190.38081"]]},{"id":"9c216386.263be","type":"inject","z":"ecd81ac.0812868","name":"Full360","topic":"","payload":"cw30","payloadType":"str","repeat":"","crontab":"","once":false,"x":238.25,"y":740,"wires":[["59226d48.4e83c4"]]},{"id":"85026bac.12adc8","type":"function","z":"ecd81ac.0812868","name":"flip","func":"dis = 'f'\nvar message = new Buffer( 'flip '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":423.25,"y":795.5,"wires":[["c0c4d190.38081"]]},{"id":"9f7c45a8.41f21","type":"inject","z":"ecd81ac.0812868","name":"flipforward","topic":"","payload":"cw30","payloadType":"str","repeat":"","crontab":"","once":false,"x":239,"y":791.25,"wires":[["85026bac.12adc8"]]},{"id":"84f28c0.edbc4f8","type":"function","z":"ecd81ac.0812868","name":"battery?","func":"dis = '?'\nvar message = new Buffer( 'battery'+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":431.75,"y":902.75,"wires":[["c0c4d190.38081"]]},{"id":"f71e1e90.52165","type":"inject","z":"ecd81ac.0812868","name":"Battery?","topic":"","payload":"cw30","payloadType":"str","repeat":"","crontab":"","once":false,"x":247.5,"y":899.5,"wires":[["84f28c0.edbc4f8"]]},{"id":"3fbf185b.ac8398","type":"function","z":"ecd81ac.0812868","name":"ccw30","func":"dis = 30\nvar message = new Buffer( 'ccw '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":432.5,"y":678,"wires":[["c0c4d190.38081"]]},{"id":"8ed35fd.071ad2","type":"inject","z":"ecd81ac.0812868","name":"ccw30","topic":"","payload":"cw30","payloadType":"str","repeat":"","crontab":"","once":false,"x":238.25,"y":673.75,"wires":[["3fbf185b.ac8398"]]},{"id":"c0c4d190.38081","type":"function","z":"ecd81ac.0812868","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":683.125,"y":625.5,"wires":[["6d5d7ac0.30a7c4"]]},{"id":"259eb2b7.b559ae","type":"function","z":"ecd81ac.0812868","name":"setspeed30","func":"dis = 30\nvar message = new Buffer( 'setspeed '+ dis );\nmsg.payload = \tmessage\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":438.25,"y":836,"wires":[["c0c4d190.38081"]]},{"id":"d9b221cc.a2056","type":"inject","z":"ecd81ac.0812868","name":"setspeed","topic":"","payload":"setspeed","payloadType":"str","repeat":"","crontab":"","once":false,"x":234,"y":831.75,"wires":[["259eb2b7.b559ae"]]},{"id":"30ca76db.c473b2","type":"comment","z":"ecd81ac.0812868","name":"Information on Tello","info":"Connect to Tello-#WIFI#\nTello has the ip address 192.168.10.1\nand multipe udp ports for communication\nPort 8889 is for control flight command \nand status updates\nPort 6037 is the video port to get the video\n- Markus  - mvk@ca.ibm.com\nhttps://github.com/markusvankempen/\nPort 52955 i define in outgoing and incoming as\nthe receiving port ...\non 52955 the drone will send message back like status message","x":260,"y":39.99999237060547,"wires":[]},{"id":"1efd8146.c298df","type":"function","z":"ecd81ac.0812868","name":"connreq","func":"dis = 30\nvar out = Buffer.alloc(11)\nout.write('conn_req:')\n\nmsg.payload = \tout\t\t\nreturn msg;\n","outputs":1,"noerr":0,"x":368.33331298828125,"y":109.5237808227539,"wires":[["6d5d7ac0.30a7c4"]]},{"id":"470e555f.cf3b5c","type":"inject","z":"ecd81ac.0812868","name":"Connection Request start here","topic":"","payload":"cw360","payloadType":"str","repeat":"","crontab":"","once":false,"x":297.22637939453125,"y":73.9404525756836,"wires":[["1efd8146.c298df"]]},{"id":"7a386330.1a87b4","type":"udp in","z":"ecd81ac.0812868","name":"","iface":"","port":"52955","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":1030.0001220703125,"y":159.76177978515625,"wires":[["87a32a9a.27f0a8","c36f84e8.c33a68"]]},{"id":"c36f84e8.c33a68","type":"debug","z":"ecd81ac.0812868","name":"","active":false,"console":"false","complete":"true","x":1374.2857666015625,"y":158.80947875976562,"wires":[]},{"id":"87a32a9a.27f0a8","type":"function","z":"ecd81ac.0812868","name":"parse incoming packages","func":"var TELLO_CMD_ALT_LIMIT = 4182\nvar TELLO_CMD_STATUS =86\nvar TELLO_CMD_LOG_DATA_WRITE=4177\nvar TELLO_CMD_LOG_HEADER_WRITE=4176\nvar seqID \nvar cmdID \nvar pacType\nvar size\n\nfunction parsePacket (bb) {\n    \n    //\tvar data = Buffer.from(msg);\n\t\tvar size = bb.length;\n\t\tvar payload = bb.slice(9,size);\n\t\tvar dataSize = 0;\n\t\tvar cmdID    = 0;\n\n\t\tif (bb.length >= 11) {\n\t\t\tvar mark = bb.readUInt8(0);\n\t\t\tif (mark == 0xCC) {\t// start of packet\n\t\t\t\t size = bb.readUInt16LE(1) >> 3;\n\t\t\t\tvar crc8 = bb.readUInt8(3);\n\t\t\t\t    pacType   = bb.readUInt8(4);\n\t\t\t\t    cmdID     = bb.readUInt16LE(5);\n\t\t\t\t    seqID    = bb.readUInt16LE(7);\n\t\t\t var       dataSize  = size - 11;\n\t\t\t    var  data      = false;\n\t\t\t\tvar crc16     = bb.readUInt16LE(size - 2);\n\n\n                \n\t\t\t\t} \n\t\t\t\t\n\t\t\t\t\n\t\t\t\t\n\t\t\t\tif (cmdID == TELLO_CMD_STATUS) {\n\t\t\t\t//\tthis.parseStatus(bb);\n\n\t\t\t    }else if (cmdID == TELLO_CMD_LOG_HEADER_WRITE) {\n\t\t\t\t node.warn(\"TELLO_CMD_LOG_HEADER_WRITE \" +TELLO_CMD_LOG_HEADER_WRITE)\n\t\t\t\t}else  if (cmdID == TELLO_CMD_LOG_DATA_WRITE) {\n\t\t\t\t    \n\t\t\t\t}else  if (cmdID == TELLO_CMD_ALT_LIMIT) {    \n\t\t\t\t     node.warn(\"TELLO_CMD_ALT_LIMIT \"+TELLO_CMD_ALT_LIMIT)\n\t\t\t\t     if (payload.length > 0) \n\t\t\t\t     node.warn(payload.readUInt16LE(1))\n\t\t\t\t}else {\n\t\t\t\t//\tnode.warn(\"DBG unknow CMD \"+ cmdID);\n\t\t\t\t\t\n\t\t\t\t}\n\t\t\n\t\t\t\n\t\t} else {\n\t\t\t\tnode.warn('wrong packet', bb);\n\t\t}\n\t\treturn cmdID\n\t}\n\t\nmsg.cmdID  = parsePacket(msg.payload)\nmsg.seqID  =seqID\nmsg.pacType=pacType\nglobal.set(\"tellomsg\",msg)\nreturn msg;","outputs":1,"noerr":0,"x":1088.3333740234375,"y":227.61895751953125,"wires":[["fadd524e.dbb588","746b8f91.c3575"]]},{"id":"fadd524e.dbb588","type":"debug","z":"ecd81ac.0812868","name":"","active":false,"console":"false","complete":"true","x":1373.09521484375,"y":226.1904296875,"wires":[]},{"id":"746b8f91.c3575","type":"switch","z":"ecd81ac.0812868","name":"ReturnComands","property":"cmdID","propertyType":"msg","rules":[{"t":"eq","v":"4176","vt":"str"},{"t":"eq","v":"86","vt":"num"},{"t":"eq","v":"4177","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":966.905029296875,"y":418.5713806152344,"wires":[["dab934f6.c1e75"],["9f510ae9.99e8b"],["1a118449.2d945c"],[]]},{"id":"9f510ae9.99e8b","type":"function","z":"ecd81ac.0812868","name":"DroneStatus","func":"var status = {}\nstatus.speed = {}\nstatus.state = {}\n\tstatus.state.battery = {}\n\tstatus.state.em ={}\n\t\tstatus.state.imu = {}\n\t\tstatus.fly_time ={}\n\t\tstatus.state.front ={}\nfunction parseStatus(bb) {\n\t\t//flight data msg (https://github.com/hanyazou/TelloPy/blob/master/tellopy/_internal/protocol.py) 0x56\n\t\t// just skip first 9 bytes\n\t\tstatus.speed.vertical = bb.readInt16LE(9);\n\t\tstatus.speed.north = bb.readInt16LE(11);\n\t\tstatus.speed.east = bb.readInt16LE(13);\n\t\tstatus.speed.ground = bb.readInt16LE(15);\n\t\tstatus.fly_time.time = bb.readInt16LE(17);\n\n\t\tvar tmp = bb.readInt8(19);\n\t\t\tstatus.state.imu.state = (tmp >> 0) & 0x1;\n\t\t\tstatus.state.pressure = (tmp >> 1) & 0x1;\n\t\t\tstatus.state.down_visual = (tmp >> 2) & 0x1;\n\t\t\tstatus.state.power = (tmp >> 3) & 0x1;\n\t\t\tstatus.state.battery.state = (tmp >> 4) & 0x1;\n\t\t\tstatus.state.gravity = (tmp >> 5) & 0x1;\n\t\t\tstatus.state.wind = (tmp >> 7) & 0x1;\n\n\t\tstatus.state.imu.calibration = bb.readInt8(20);\n\t\tstatus.state.battery.percentage = bb.readInt8(21);\n\t\tstatus.state.battery.left = bb.readInt16LE(22);\n\t\tstatus.state.battery.voltage = bb.readInt16LE(24);\n\n\t\ttmp = bb.readInt8(26);\n\t\t\tstatus.state.em.sky = (tmp >> 0) & 0x1;\n\t\t\tstatus.state.em.ground = (tmp >> 1) & 0x1;\n\t\t\tstatus.state.em.open = (tmp >> 2) & 0x1;\n\t\t\tstatus.state.drone_hover = (tmp >> 3) & 0x1;\n\t\t\tstatus.state.outage_recording = (tmp >> 4) & 0x1;\n\t\t\tstatus.state.battery.low = (tmp >> 5) & 0x1;\n\t\t\tstatus.state.battery.lower = (tmp >> 6) & 0x1;\n\t\t\tstatus.state.factory_mode = (tmp >> 7) & 0x1;\n\n\t\tstatus.state.fly_mode = bb.readInt8(27);\n\t\tstatus.state.throw_fly_timer = bb.readInt8(28);\n\t\tstatus.state.camera = bb.readInt8(29);\n\t\tstatus.state.em.state = bb.readInt8(30);\n\n\t\ttmp = bb.readInt8(31);\n\t\t\tstatus.state.front.in = (tmp >> 0) & 0x1;\n\t\t\tstatus.state.front.out = (tmp >> 1) & 0x1;\n\t\t\tstatus.state.front.lsc = (tmp >> 2) & 0x1;\n\n\t\tstatus.state.temperature_height = bb.readInt8(32);\n\t\t//console.log(\"state\", status);\n\t\treturn (status);\n\t}\n\t\nmsg.status = parseStatus(msg.payload)\nglobal.set(\"tellostatus\",status)\nreturn(msg)","outputs":1,"noerr":0,"x":1196.1907958984375,"y":428.0954284667969,"wires":[["581743e6.d186e4","fc321ab5.e75a58","df18f148.cad6b","d10d49e4.f8f3f8","9ed7d0dc.d0c8"]]},{"id":"581743e6.d186e4","type":"debug","z":"ecd81ac.0812868","name":"Status","active":false,"console":"false","complete":"true","x":1392.8572998046875,"y":428.0950622558594,"wires":[]},{"id":"7c4ed4e7.c93944","type":"inject","z":"ecd81ac.0812868","name":"Display","topic":"","payload":"cw360","payloadType":"str","repeat":"","crontab":"","once":false,"x":1025.9522705078125,"y":66.4286117553711,"wires":[["359a6298.8ea9be"]]},{"id":"359a6298.8ea9be","type":"function","z":"ecd81ac.0812868","name":"tellostatus","func":"\n\nmsg.payload = global.get(\"tellostatus\")\t\nreturn msg;\n","outputs":1,"noerr":0,"x":1212.1429443359375,"y":66.42867279052734,"wires":[["eba827f6.5a93"]]},{"id":"eba827f6.5a93","type":"debug","z":"ecd81ac.0812868","name":"","active":true,"console":"false","complete":"true","x":1372.3809814453125,"y":66.66669464111328,"wires":[]},{"id":"1a118449.2d945c","type":"function","z":"ecd81ac.0812868","name":"DroneLog","func":"status = global.get(\"tellostatus\")\n\nTYPE = {\n\t\tBYTE : 1,\n\t\tSHORT: 2,\n\t\tFLOAT: 3,\n\t};\n\tvar\tlog = {\n\t\t\tSEPARATOR: 85,\t\t// U symbol\n\t\t\t// Full log spec https://github.com/Kragrathea/TelloLib/blob/master/TelloLib/parsedRecSpecs.json\n\t\t\tLOGREC: {\n\t\t\t\t16: {\n\t\t\t\t\tNAME: \"USONIC\",\n\t\t\t\t\tlength: 4,\n\t\t\t\t\tfields: {\n\t\t\t\t\t\tH: {\n\t\t\t\t\t\t\toffset: 0,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tFLAG: {\n\t\t\t\t\t\t\toffset: 2,\n\t\t\t\t\t\t\ttype: TYPE.BYTE\n\t\t\t\t\t\t},\n\t\t\t\t\t\tCNT: {\n\t\t\t\t\t\t\toffset: 3,\n\t\t\t\t\t\t\ttype: TYPE.BYTE\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t29: {\n\t\t\t\t\tNAME: \"MVO\",\n\t\t\t\t\tlength: 80,\n\t\t\t\t\tfields: {\n\t\t\t\t\t\tVX: {\n\t\t\t\t\t\t\toffset: 2,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tVY: {\n\t\t\t\t\t\t\toffset: 4,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tVZ: {\n\t\t\t\t\t\t\toffset: 6,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tPX: {\n\t\t\t\t\t\t\toffset: 8,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tPY: {\n\t\t\t\t\t\t\toffset: 12,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tPZ: {\n\t\t\t\t\t\t\toffset: 16,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tHEIGHT: {\n\t\t\t\t\t\t\toffset: 68,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t2048: {\n\t\t\t\t\tNAME: \"IMU\",\n\t\t\t\t\tlength: 120,\n\t\t\t\t\tpostprocess: {\n\t\t\t\t\t\tANGLE: {\n\t\t\t\t\t\t\tfunc: false,\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\tfields: {\n\t\t\t\t\t\tACC_X: {\n\t\t\t\t\t\t\toffset: 20,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tACC_Y: {\n\t\t\t\t\t\t\toffset: 24,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tACC_Z: {\n\t\t\t\t\t\t\toffset: 28,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tGYRO_X: {\n\t\t\t\t\t\t\toffset: 32,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tGYRO_Y: {\n\t\t\t\t\t\t\toffset: 36,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tGYRO_Z: {\n\t\t\t\t\t\t\toffset: 40,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tPRESS: {\n\t\t\t\t\t\t\toffset: 44,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tQ_W: {\n\t\t\t\t\t\t\toffset: 48,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tQ_X: {\n\t\t\t\t\t\t\toffset: 52,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tQ_Y: {\n\t\t\t\t\t\t\toffset: 56,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tQ_Z: {\n\t\t\t\t\t\t\toffset: 60,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tag_x: {\n\t\t\t\t\t\t\toffset: 64,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tag_y: {\n\t\t\t\t\t\t\toffset: 68,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tag_z: {\n\t\t\t\t\t\t\toffset: 72,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tvg_x: {\n\t\t\t\t\t\t\toffset: 76,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tvg_y: {\n\t\t\t\t\t\t\toffset: 80,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tvg_z: {\n\t\t\t\t\t\t\toffset: 84,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tgb_x: {\n\t\t\t\t\t\t\toffset: 88,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tgb_y: {\n\t\t\t\t\t\t\toffset: 92,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tgb_z: {\n\t\t\t\t\t\t\toffset: 96,\n\t\t\t\t\t\t\ttype: TYPE.FLOAT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tm_x: {\n\t\t\t\t\t\t\toffset: 100,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tm_y: {\n\t\t\t\t\t\t\toffset: 102,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\tm_z: {\n\t\t\t\t\t\t\toffset: 104,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\ttemp_x: {\n\t\t\t\t\t\t\toffset: 106,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\ttemp_y: {\n\t\t\t\t\t\t\toffset: 108,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t\ttemp_z: {\n\t\t\t\t\t\t\toffset: 110,\n\t\t\t\t\t\t\ttype: TYPE.SHORT\n\t\t\t\t\t\t},\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t}\n\t\t}\n\t\t\nfunction parseLog(bb) {\n        size =  bb.readUInt16LE(1) >> 3;\n\t\t// https://github.com/Kragrathea/TelloLib/blob/master/TelloLib/TelloLog.cs\n\t\t// https://github.com/SMerrony/tello/blob/master/flog.go\n\t\tvar logPosition = 0;\n\t\tvar logFieldName = \"\";\n\t\tvar logObject = false;\n\t\twhile (logPosition < (size-2)) {\n\t\t\tif (bb.readUInt8(logPosition) != log.SEPARATOR) {\n\t\t\t\tlogPosition++;\n\t\t\t\tcontinue;\n\t\t\t}\n\t\t\tvar len = bb.readUInt8(logPosition + 1);\n\t\t\tif (bb.readUInt8(logPosition + 2) != 0) {\n\t\t\t\tlogPosition++;\n\t\t\t\tbreak;\n\t\t\t}\n\t\t\tvar recSpecId = bb.readUInt16LE(logPosition + 4);\n\t\t\tvar xorBuf = Buffer.alloc(256);\n\t\t\tvar xorValue = bb[logPosition + 6];\n\t\t\tif (typeof log.LOGREC[recSpecId] != 'undefined') {\n\t\t\t\t//node.warn(\"DBG found:\", log.LOGREC[recSpecId].NAME);\n\t\t\t\tfor (var i = 0; i < len; i++) {\t// Decrypt payload\n\t\t\t\t\txorBuf[i] = (bb[logPosition + i] ^ xorValue);\n\t\t\t\t}\n\t\t\t\tvar baseOffset = 10;\n\t\t\t\tfor (var i in log.LOGREC[recSpecId].fields) { if (typeof log.LOGREC[recSpecId].fields[i] == 'object') {\n\t\t\t\t\tlogObject = log.LOGREC[recSpecId].fields[i];\n\t\t\t\t\tlogFieldName = log.LOGREC[recSpecId].NAME+\"_\"+i;\n\t\t\t\t\tswitch (logObject.type) {\n\t\t\t\t\t\tcase TYPE.FLOAT:\n\t\t\t\t\t\t\tstatus[logFieldName] = xorBuf.readFloatLE(baseOffset + logObject.offset);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tcase TYPE.SHORT:\n\t\t\t\t\t\t\tstatus[logFieldName] = xorBuf.readInt16LE(baseOffset + logObject.offset);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tcase TYPE.BYTE:\n\t\t\t\t\t\t\tstatus[logFieldName] = xorBuf[baseOffset + logObject.offset];\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\tdefault:\n\t\t\t\t\t\tnode.warn(\"DBG\", \"unknown type\", logObject.type);\n\t\t\t\t\t}\n\t\t\t\t}}\n\t\t\t\tif (typeof log.LOGREC[recSpecId].postprocess == 'object') {\n\t\t\t\t\tfor (var i in log.LOGREC[recSpecId].postprocess) {\n\t\t\t\t\t\tif (typeof log.LOGREC[recSpecId].postprocess[i].func == 'function') {\n\t\t\t\t\t\t\tlog.LOGREC[recSpecId].postprocess[i].func();\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\t//console.log(\"STATUS:\", status);\n\t\t\t//\tsendLog();\n\t\t\t} else {\n\t\t\t\t//console.log(\"DBG\", \"unknown log type\", recSpecId, \"datasize = \", dataSize);\n\t\t\t}\n\t\t\tlogPosition += len;\n\t\t}\n\t}\nparseLog(msg.payload) \t\n\nmsg.log = log\nmsg.status = status\nglobal.set(\"tellostatus\",status)\nglobal.set(\"tellostatusnew\",status)\nglobal.set(\"tellolog\",log)\nreturn msg;\n\n\t\n\t\t\n\t\t\n\t\t","outputs":1,"noerr":0,"x":922.6192626953125,"y":693.0950317382812,"wires":[["d9e2931f.664b6","d3c166c.54f0e98","89829802.65f968","fc321ab5.e75a58","df18f148.cad6b","9ed7d0dc.d0c8"]]},{"id":"e9e2ccb4.3ea8e","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"9f4b3ea8.c292a","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"Battery","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1415.8333740234375,"y":623.75,"wires":[]},{"id":"ea54faa9.72c27","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"9f4b3ea8.c292a","order":2,"width":0,"height":0,"gtype":"gage","title":"GroundSpeed","label":"GroundSpeed","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"x":1434.9998779296875,"y":690,"wires":[]},{"id":"fc321ab5.e75a58","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload = msg.status.state.battery.percentage;\nreturn msg;","outputs":1,"noerr":0,"x":1214.166748046875,"y":623.33349609375,"wires":[["e9e2ccb4.3ea8e"]]},{"id":"df18f148.cad6b","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload =msg.status.speed.ground;\nreturn msg","outputs":1,"noerr":0,"x":1208.3333740234375,"y":686.6666870117188,"wires":[["ea54faa9.72c27"]]},{"id":"58bb3258.b73844","type":"comment","z":"ecd81ac.0812868","name":"Commands","info":"\t\tcommands: {\n\t\t\tTELLO_CMD_CONN: 1,\n\t\t\tTELLO_CMD_CONN_ACK: 2,\n\t\t\tTELLO_CMD_SSID: 17,\n\t\t\tTELLO_CMD_SET_SSID: 18,\n\t\t\tTELLO_CMD_SSID_PASS: 19,\n\t\t\tTELLO_CMD_SET_SSID_PASS: 20,\n\t\t\tTELLO_CMD_REGION: 21,\n\t\t\tTELLO_CMD_SET_REGION: 22,\n\t\t\tTELLO_CMD_REQ_VIDEO_SPS_PPS: 37,\n\t\t\tTELLO_CMD_TAKE_PICTURE: 48,\n\t\t\tTELLO_CMD_SWITCH_PICTURE_VIDEO: 49,\n\t\t\tTELLO_CMD_START_RECORDING: 50,\n\t\t\tTELLO_CMD_SET_EV: 52,\n\t\t\tTELLO_CMD_DATE_TIME: 70,\n\t\t\tTELLO_CMD_STICK: 80,\n\t\t\tTELLO_CMD_LOG_HEADER_WRITE: 4176,\n\t\t\tTELLO_CMD_LOG_DATA_WRITE: 4177,\n\t\t\tTELLO_CMD_LOG_CONFIGURATION: 4178,\n\t\t\tTELLO_CMD_WIFI_SIGNAL: 26,\n\t\t\tTELLO_CMD_VIDEO_BIT_RATE: 40,\n\t\t\tTELLO_CMD_LIGHT_STRENGTH: 53,\n\t\t\tTELLO_CMD_VERSION_STRING: 69,\n\t\t\tTELLO_CMD_ACTIVATION_TIME: 71,\n\t\t\tTELLO_CMD_LOADER_VERSION: 73,\n\t\t\tTELLO_CMD_STATUS: 86,\n\t\t\tTELLO_CMD_ALT_LIMIT: 4182,\n\t\t\tTELLO_CMD_LOW_BATT_THRESHOLD: 4183,\n\t\t\tTELLO_CMD_ATT_ANGLE: 4185,\n\t\t\tTELLO_CMD_SET_JPEG_QUALITY: 55,\n\t\t\tTELLO_CMD_TAKEOFF: 84,\n\t\t\tTELLO_CMD_LANDING: 85,\n\t\t\tTELLO_CMD_SET_ALT_LIMIT: 88,\n\t\t\tTELLO_CMD_FLIP: 92,\n\t\t\tTELLO_CMD_THROW_FLY: 93,\n\t\t\tTELLO_CMD_PALM_LANDING: 94,\n\t\t\tTELLO_CMD_PLANE_CALIBRATION: 4180,\n\t\t\tTELLO_CMD_SET_LOW_BATTERY_THRESHOLD: 4181,\n\t\t\tTELLO_CMD_SET_ATTITUDE_ANGLE: 4184,\n\t\t\tTELLO_CMD_ERROR1: 67,\n\t\t\tTELLO_CMD_ERROR2: 68,\n\t\t\tTELLO_CMD_FILE_SIZE: 98,\n\t\t\tTELLO_CMD_FILE_DATA: 99,\n\t\t\tTELLO_CMD_FILE_COMPLETE: 100,\n\t\t\tTELLO_CMD_HANDLE_IMU_ANGLE: 90,\n\t\t\tTELLO_CMD_SET_VIDEO_BIT_RATE: 32,\n\t\t\tTELLO_CMD_SET_DYN_ADJ_RATE: 33,\n\t\t\tTELLO_CMD_SET_EIS: 36,\n\t\t\tTELLO_CMD_SMART_VIDEO_START: 128,\n\t\t\tTELLO_CMD_SMART_VIDEO_STATUS: 129,\n\t\t\tTELLO_CMD_BOUNCE: 4179\n\t\t},","x":977.5000610351562,"y":489.9999084472656,"wires":[]},{"id":"47c35fbd.20f6b","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"9f4b3ea8.c292a","order":3,"width":0,"height":0,"gtype":"gage","title":"FlyTime","label":"FlyTime","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"x":1413.333251953125,"y":751.6666259765625,"wires":[]},{"id":"d10d49e4.f8f3f8","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload =msg.status.fly_time.time;\nreturn msg","outputs":1,"noerr":0,"x":1206.66650390625,"y":749.9999389648438,"wires":[["47c35fbd.20f6b"]]},{"id":"d9e2931f.664b6","type":"debug","z":"ecd81ac.0812868","name":"log","active":false,"console":"false","complete":"true","x":888.33349609375,"y":739.9999389648438,"wires":[]},{"id":"dab934f6.c1e75","type":"function","z":"ecd81ac.0812868","name":"LOG_HEADER","func":"/*\n else if (cmdID == this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE) {\t// log header, we need request log\n\t\t\t\t\tvar payload = Buffer.alloc(3);\n\t\t\t\t\t\tpayload[1]=bb[9];\n\t\t\t\t\t\tpayload[2]=bb[10];\n\t\t\t\t\tthis._sendCmd(0x50, this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE, payload, 3);\n\t\t\t\t\t\n*/\nvar TELLO_CMD_LOG_HEADER_WRITE = 4176\nvar TBL_CRC16 = [\n\t\t\t0x0000, 0x1189, 0x2312, 0x329b, 0x4624, 0x57ad, 0x6536, 0x74bf, 0x8c48, 0x9dc1, 0xaf5a, 0xbed3, 0xca6c, 0xdbe5, 0xe97e, 0xf8f7,\n\t\t\t0x1081, 0x0108, 0x3393, 0x221a, 0x56a5, 0x472c, 0x75b7, 0x643e, 0x9cc9, 0x8d40, 0xbfdb, 0xae52, 0xdaed, 0xcb64, 0xf9ff, 0xe876,\n\t\t\t0x2102, 0x308b, 0x0210, 0x1399, 0x6726, 0x76af, 0x4434, 0x55bd, 0xad4a, 0xbcc3, 0x8e58, 0x9fd1, 0xeb6e, 0xfae7, 0xc87c, 0xd9f5,\n\t\t\t0x3183, 0x200a, 0x1291, 0x0318, 0x77a7, 0x662e, 0x54b5, 0x453c, 0xbdcb, 0xac42, 0x9ed9, 0x8f50, 0xfbef, 0xea66, 0xd8fd, 0xc974,\n\t\t\t0x4204, 0x538d, 0x6116, 0x709f, 0x0420, 0x15a9, 0x2732, 0x36bb, 0xce4c, 0xdfc5, 0xed5e, 0xfcd7, 0x8868, 0x99e1, 0xab7a, 0xbaf3,\n\t\t\t0x5285, 0x430c, 0x7197, 0x601e, 0x14a1, 0x0528, 0x37b3, 0x263a, 0xdecd, 0xcf44, 0xfddf, 0xec56, 0x98e9, 0x8960, 0xbbfb, 0xaa72,\n\t\t\t0x6306, 0x728f, 0x4014, 0x519d, 0x2522, 0x34ab, 0x0630, 0x17b9, 0xef4e, 0xfec7, 0xcc5c, 0xddd5, 0xa96a, 0xb8e3, 0x8a78, 0x9bf1,\n\t\t\t0x7387, 0x620e, 0x5095, 0x411c, 0x35a3, 0x242a, 0x16b1, 0x0738, 0xffcf, 0xee46, 0xdcdd, 0xcd54, 0xb9eb, 0xa862, 0x9af9, 0x8b70,\n\t\t\t0x8408, 0x9581, 0xa71a, 0xb693, 0xc22c, 0xd3a5, 0xe13e, 0xf0b7, 0x0840, 0x19c9, 0x2b52, 0x3adb, 0x4e64, 0x5fed, 0x6d76, 0x7cff,\n\t\t\t0x9489, 0x8500, 0xb79b, 0xa612, 0xd2ad, 0xc324, 0xf1bf, 0xe036, 0x18c1, 0x0948, 0x3bd3, 0x2a5a, 0x5ee5, 0x4f6c, 0x7df7, 0x6c7e,\n\t\t\t0xa50a, 0xb483, 0x8618, 0x9791, 0xe32e, 0xf2a7, 0xc03c, 0xd1b5, 0x2942, 0x38cb, 0x0a50, 0x1bd9, 0x6f66, 0x7eef, 0x4c74, 0x5dfd,\n\t\t\t0xb58b, 0xa402, 0x9699, 0x8710, 0xf3af, 0xe226, 0xd0bd, 0xc134, 0x39c3, 0x284a, 0x1ad1, 0x0b58, 0x7fe7, 0x6e6e, 0x5cf5, 0x4d7c,\n\t\t\t0xc60c, 0xd785, 0xe51e, 0xf497, 0x8028, 0x91a1, 0xa33a, 0xb2b3, 0x4a44, 0x5bcd, 0x6956, 0x78df, 0x0c60, 0x1de9, 0x2f72, 0x3efb,\n\t\t\t0xd68d, 0xc704, 0xf59f, 0xe416, 0x90a9, 0x8120, 0xb3bb, 0xa232, 0x5ac5, 0x4b4c, 0x79d7, 0x685e, 0x1ce1, 0x0d68, 0x3ff3, 0x2e7a,\n\t\t\t0xe70e, 0xf687, 0xc41c, 0xd595, 0xa12a, 0xb0a3, 0x8238, 0x93b1, 0x6b46, 0x7acf, 0x4854, 0x59dd, 0x2d62, 0x3ceb, 0x0e70, 0x1ff9,\n\t\t\t0xf78f, 0xe606, 0xd49d, 0xc514, 0xb1ab, 0xa022, 0x92b9, 0x8330, 0x7bc7, 0x6a4e, 0x58d5, 0x495c, 0x3de3, 0x2c6a, 0x1ef1, 0x0f78\n\t\t]\n\t\t\nvar TBL_CRC8 = [\n\t\t\t0x00, 0x5e, 0xbc, 0xe2, 0x61, 0x3f, 0xdd, 0x83, 0xc2, 0x9c, 0x7e, 0x20, 0xa3, 0xfd, 0x1f, 0x41,\n\t\t\t0x9d, 0xc3, 0x21, 0x7f, 0xfc, 0xa2, 0x40, 0x1e, 0x5f, 0x01, 0xe3, 0xbd, 0x3e, 0x60, 0x82, 0xdc,\n\t\t\t0x23, 0x7d, 0x9f, 0xc1, 0x42, 0x1c, 0xfe, 0xa0, 0xe1, 0xbf, 0x5d, 0x03, 0x80, 0xde, 0x3c, 0x62,\n\t\t\t0xbe, 0xe0, 0x02, 0x5c, 0xdf, 0x81, 0x63, 0x3d, 0x7c, 0x22, 0xc0, 0x9e, 0x1d, 0x43, 0xa1, 0xff,\n\t\t\t0x46, 0x18, 0xfa, 0xa4, 0x27, 0x79, 0x9b, 0xc5, 0x84, 0xda, 0x38, 0x66, 0xe5, 0xbb, 0x59, 0x07,\n\t\t\t0xdb, 0x85, 0x67, 0x39, 0xba, 0xe4, 0x06, 0x58, 0x19, 0x47, 0xa5, 0xfb, 0x78, 0x26, 0xc4, 0x9a,\n\t\t\t0x65, 0x3b, 0xd9, 0x87, 0x04, 0x5a, 0xb8, 0xe6, 0xa7, 0xf9, 0x1b, 0x45, 0xc6, 0x98, 0x7a, 0x24,\n\t\t\t0xf8, 0xa6, 0x44, 0x1a, 0x99, 0xc7, 0x25, 0x7b, 0x3a, 0x64, 0x86, 0xd8, 0x5b, 0x05, 0xe7, 0xb9,\n\t\t\t0x8c, 0xd2, 0x30, 0x6e, 0xed, 0xb3, 0x51, 0x0f, 0x4e, 0x10, 0xf2, 0xac, 0x2f, 0x71, 0x93, 0xcd,\n\t\t\t0x11, 0x4f, 0xad, 0xf3, 0x70, 0x2e, 0xcc, 0x92, 0xd3, 0x8d, 0x6f, 0x31, 0xb2, 0xec, 0x0e, 0x50,\n\t\t\t0xaf, 0xf1, 0x13, 0x4d, 0xce, 0x90, 0x72, 0x2c, 0x6d, 0x33, 0xd1, 0x8f, 0x0c, 0x52, 0xb0, 0xee,\n\t\t\t0x32, 0x6c, 0x8e, 0xd0, 0x53, 0x0d, 0xef, 0xb1, 0xf0, 0xae, 0x4c, 0x12, 0x91, 0xcf, 0x2d, 0x73,\n\t\t\t0xca, 0x94, 0x76, 0x28, 0xab, 0xf5, 0x17, 0x49, 0x08, 0x56, 0xb4, 0xea, 0x69, 0x37, 0xd5, 0x8b,\n\t\t\t0x57, 0x09, 0xeb, 0xb5, 0x36, 0x68, 0x8a, 0xd4, 0x95, 0xcb, 0x29, 0x77, 0xf4, 0xaa, 0x48, 0x16,\n\t\t\t0xe9, 0xb7, 0x55, 0x0b, 0x88, 0xd6, 0x34, 0x6a, 0x2b, 0x75, 0x97, 0xc9, 0x4a, 0x14, 0xf6, 0xa8,\n\t\t\t0x74, 0x2a, 0xc8, 0x96, 0x15, 0x4b, 0xa9, 0xf7, 0xb6, 0xe8, 0x0a, 0x54, 0xd7, 0x89, 0x6b, 0x35,\n\t\t]\nfunction _calcCRC16 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x3692\n\t\twhile (size > 0) {\n\t\t\tseed = TBL_CRC16[(seed ^ buf[i]) & 0xff] ^ (seed >> 8)\n\t\t\ti++\n\t\t\tsize--\n\t\t};\n\t\treturn seed\n\t}\n\nfunction _calcCRC8 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x77\n\t\twhile (size > 0) {\n\t\t\tseed =  TBL_CRC8[(seed ^ buf[i]) & 0xff]\n\t\t\ti++\n\t\t\tsize--\n\t\t}\n\t\treturn seed\n\t}\n\n\t\nfunction buildPacket(pacType, cmdID, seq, data, data_len) {\n\t\tvar size = 11 + (data_len?data_len:(data?data.length:0));\n\t\tvar bb = Buffer.alloc(size)\n\t\tbb.writeUInt8(0xCC,0)\n\t\tbb.writeUInt16LE(size << 3,1)\n\t\tvar crc8 = _calcCRC8([...bb], 3)\n\t\tbb.writeUInt8(crc8,3);\n\t\tbb.writeUInt8(pacType,4);\n\t\tbb.writeUInt16LE(cmdID,5);\n\t\tbb.writeUInt16LE(seq,7);\n\t\t//console.log(\"DBG\", data, len);\n\t\tif (data && !data_len) {\n\t\t\tbb.write(data,9)\n\t\t} else if (data) {\n\t\t\tfor (var i=0; i<data_len; i++) {\n\t\t\t\tbb[9 + i] = data[i];\n\t\t\t}\n\t\t}\n\t\tvar crc16 = _calcCRC16([...bb], size - 2);\n\t\tbb.writeUInt16LE(crc16, size-2)\n\t\treturn bb\n\t}\n\t\nvar payload = Buffer.alloc(3);\npayload[1]=msg.payload[9];\npayload[2]=msg.payload[10];\nout = buildPacket(0x50, TELLO_CMD_LOG_HEADER_WRITE, msg.seqID, payload, 3);\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":1194.166748046875,"y":386.66656494140625,"wires":[["8584fe19.449f1"]]},{"id":"8584fe19.449f1","type":"debug","z":"ecd81ac.0812868","name":"","active":false,"console":"false","complete":"true","x":1397.5,"y":384.58331298828125,"wires":[]},{"id":"7789d03c.581ae","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"51307415.9740ec","order":3,"width":0,"height":0,"gtype":"gage","title":"IMU.ACC_X","label":"IMU.ACC_X","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"x":1420,"y":861.6665649414062,"wires":[]},{"id":"5310397a.224538","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload =msg.status.IMU_ACC_X;\nreturn msg","outputs":1,"noerr":0,"x":1208.3333740234375,"y":859.9999389648438,"wires":[["7789d03c.581ae"]]},{"id":"81f9c4a6.773738","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"51307415.9740ec","order":2,"width":0,"height":0,"gtype":"gage","title":"IMU.ACC_Y","label":"IMU.ACC_Y","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"x":1421.666748046875,"y":924.9999389648438,"wires":[]},{"id":"ab8c232c.dcf7c8","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload =msg.status.IMU_ACC_Y;\nreturn msg","outputs":1,"noerr":0,"x":1206.666748046875,"y":923.3333129882812,"wires":[["81f9c4a6.773738"]]},{"id":"14b51f4.1565361","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"51307415.9740ec","order":1,"width":0,"height":0,"gtype":"gage","title":"IMU.ACC_X","label":"IMU.ACC_X","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"x":1421.6666259765625,"y":991.6666259765625,"wires":[]},{"id":"656a72f0.cefcfc","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload =msg.status.IMU_ACC_Z;\nreturn msg","outputs":1,"noerr":0,"x":1213.3333740234375,"y":989.9999389648438,"wires":[["14b51f4.1565361"]]},{"id":"d3c166c.54f0e98","type":"function","z":"ecd81ac.0812868","name":"IMU.ACC_X","func":"\nif(msg.status.IMU_ACC_X !== undefined)\nif(msg.status.IMU_ACC_X != null)\nmsg.payload = msg.status.IMU_ACC_X \nreturn msg","outputs":1,"noerr":0,"x":901.66650390625,"y":918.3331298828125,"wires":[["5310397a.224538","ab8c232c.dcf7c8","656a72f0.cefcfc"]]},{"id":"9d14254c.e416b8","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload = 0\nreturn msg","outputs":1,"noerr":0,"x":1211.666748046875,"y":1061.6666259765625,"wires":[["7a2a1382.f33c74","bc2cab55.02c848"]]},{"id":"63ccd224.94fc44","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"b59668a5.00cd3","order":2,"width":0,"height":0,"gtype":"gage","title":"MOV.PY","label":"MOV.PY","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"x":1406.6666259765625,"y":1125.0000610351562,"wires":[]},{"id":"6c21d1d2.f3088","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload =msg.status.MOV_PY\nreturn msg","outputs":1,"noerr":0,"x":1210.0001220703125,"y":1125,"wires":[["63ccd224.94fc44"]]},{"id":"17fbb11d.215707","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"b59668a5.00cd3","order":3,"width":0,"height":0,"gtype":"gage","title":"PZ","label":"PZ","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"x":1393.333251953125,"y":1191.6666870117188,"wires":[]},{"id":"b42fd0a7.5280e8","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload =msg.status.MOV_PZ;\nreturn msg","outputs":1,"noerr":0,"x":1216.666748046875,"y":1191.6666259765625,"wires":[["17fbb11d.215707"]]},{"id":"89829802.65f968","type":"function","z":"ecd81ac.0812868","name":"MVO.PX","func":"\nif(msg.status.MOV_PX !== undefined)\nif(msg.status.MOV_PX != null)\n\nreturn msg","outputs":1,"noerr":0,"x":919.9998779296875,"y":1116.6666259765625,"wires":[["9d14254c.e416b8","bf027dc3.826da"]]},{"id":"7ae591ba.edc89","type":"inject","z":"ecd81ac.0812868","name":"Display","topic":"","payload":"cw360","payloadType":"str","repeat":"","crontab":"","once":false,"x":1026.6666259765625,"y":114.99999237060547,"wires":[["22313159.5edba6"]]},{"id":"22313159.5edba6","type":"function","z":"ecd81ac.0812868","name":"tellolog","func":"\n\nmsg.payload = global.get(\"tellolog\")\t\nreturn msg;\n","outputs":1,"noerr":0,"x":1202.857421875,"y":115.00003814697266,"wires":[["878bff66.a23748"]]},{"id":"878bff66.a23748","type":"debug","z":"ecd81ac.0812868","name":"","active":true,"console":"false","complete":"true","x":1373.095458984375,"y":115.23807525634766,"wires":[]},{"id":"872c8c17.d224a8","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"9f4b3ea8.c292a","order":3,"width":0,"height":0,"gtype":"gage","title":"State","label":"State","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"x":1403.3333740234375,"y":800,"wires":[]},{"id":"9ed7d0dc.d0c8","type":"function","z":"ecd81ac.0812868","name":"","func":"msg.payload =msg.status.state.em.state;\nreturn msg","outputs":1,"noerr":0,"x":1211.666748046875,"y":796.6665649414062,"wires":[["872c8c17.d224a8"]]},{"id":"bf027dc3.826da","type":"debug","z":"ecd81ac.0812868","name":"log","active":true,"console":"false","complete":"true","x":895,"y":1179.9998779296875,"wires":[]},{"id":"7a2a1382.f33c74","type":"debug","z":"ecd81ac.0812868","name":"log","active":true,"console":"false","complete":"true","x":1201.6666259765625,"y":1278.333251953125,"wires":[]},{"id":"bc2cab55.02c848","type":"ui_gauge","z":"ecd81ac.0812868","name":"","group":"b59668a5.00cd3","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"x":1397.4998779296875,"y":1062.0831909179688,"wires":[]},{"id":"709a9e0d.8a90e","type":"function","z":"ecd81ac.0812868","name":"TELLO_CMD_ALT_LIMIT","func":"/*\n else if (cmdID == this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE) {\t// log header, we need request log\n\t\t\t\t\tvar payload = Buffer.alloc(3);\n\t\t\t\t\t\tpayload[1]=bb[9];\n\t\t\t\t\t\tpayload[2]=bb[10];\n\t\t\t\t\tthis._sendCmd(0x50, this.tello.commands.TELLO_CMD_LOG_HEADER_WRITE, payload, 3);\n\t\t\t\t\t\n*/\nvar TELLO_CMD_ALT_LIMIT = 4182\nvar TBL_CRC16 = [\n\t\t\t0x0000, 0x1189, 0x2312, 0x329b, 0x4624, 0x57ad, 0x6536, 0x74bf, 0x8c48, 0x9dc1, 0xaf5a, 0xbed3, 0xca6c, 0xdbe5, 0xe97e, 0xf8f7,\n\t\t\t0x1081, 0x0108, 0x3393, 0x221a, 0x56a5, 0x472c, 0x75b7, 0x643e, 0x9cc9, 0x8d40, 0xbfdb, 0xae52, 0xdaed, 0xcb64, 0xf9ff, 0xe876,\n\t\t\t0x2102, 0x308b, 0x0210, 0x1399, 0x6726, 0x76af, 0x4434, 0x55bd, 0xad4a, 0xbcc3, 0x8e58, 0x9fd1, 0xeb6e, 0xfae7, 0xc87c, 0xd9f5,\n\t\t\t0x3183, 0x200a, 0x1291, 0x0318, 0x77a7, 0x662e, 0x54b5, 0x453c, 0xbdcb, 0xac42, 0x9ed9, 0x8f50, 0xfbef, 0xea66, 0xd8fd, 0xc974,\n\t\t\t0x4204, 0x538d, 0x6116, 0x709f, 0x0420, 0x15a9, 0x2732, 0x36bb, 0xce4c, 0xdfc5, 0xed5e, 0xfcd7, 0x8868, 0x99e1, 0xab7a, 0xbaf3,\n\t\t\t0x5285, 0x430c, 0x7197, 0x601e, 0x14a1, 0x0528, 0x37b3, 0x263a, 0xdecd, 0xcf44, 0xfddf, 0xec56, 0x98e9, 0x8960, 0xbbfb, 0xaa72,\n\t\t\t0x6306, 0x728f, 0x4014, 0x519d, 0x2522, 0x34ab, 0x0630, 0x17b9, 0xef4e, 0xfec7, 0xcc5c, 0xddd5, 0xa96a, 0xb8e3, 0x8a78, 0x9bf1,\n\t\t\t0x7387, 0x620e, 0x5095, 0x411c, 0x35a3, 0x242a, 0x16b1, 0x0738, 0xffcf, 0xee46, 0xdcdd, 0xcd54, 0xb9eb, 0xa862, 0x9af9, 0x8b70,\n\t\t\t0x8408, 0x9581, 0xa71a, 0xb693, 0xc22c, 0xd3a5, 0xe13e, 0xf0b7, 0x0840, 0x19c9, 0x2b52, 0x3adb, 0x4e64, 0x5fed, 0x6d76, 0x7cff,\n\t\t\t0x9489, 0x8500, 0xb79b, 0xa612, 0xd2ad, 0xc324, 0xf1bf, 0xe036, 0x18c1, 0x0948, 0x3bd3, 0x2a5a, 0x5ee5, 0x4f6c, 0x7df7, 0x6c7e,\n\t\t\t0xa50a, 0xb483, 0x8618, 0x9791, 0xe32e, 0xf2a7, 0xc03c, 0xd1b5, 0x2942, 0x38cb, 0x0a50, 0x1bd9, 0x6f66, 0x7eef, 0x4c74, 0x5dfd,\n\t\t\t0xb58b, 0xa402, 0x9699, 0x8710, 0xf3af, 0xe226, 0xd0bd, 0xc134, 0x39c3, 0x284a, 0x1ad1, 0x0b58, 0x7fe7, 0x6e6e, 0x5cf5, 0x4d7c,\n\t\t\t0xc60c, 0xd785, 0xe51e, 0xf497, 0x8028, 0x91a1, 0xa33a, 0xb2b3, 0x4a44, 0x5bcd, 0x6956, 0x78df, 0x0c60, 0x1de9, 0x2f72, 0x3efb,\n\t\t\t0xd68d, 0xc704, 0xf59f, 0xe416, 0x90a9, 0x8120, 0xb3bb, 0xa232, 0x5ac5, 0x4b4c, 0x79d7, 0x685e, 0x1ce1, 0x0d68, 0x3ff3, 0x2e7a,\n\t\t\t0xe70e, 0xf687, 0xc41c, 0xd595, 0xa12a, 0xb0a3, 0x8238, 0x93b1, 0x6b46, 0x7acf, 0x4854, 0x59dd, 0x2d62, 0x3ceb, 0x0e70, 0x1ff9,\n\t\t\t0xf78f, 0xe606, 0xd49d, 0xc514, 0xb1ab, 0xa022, 0x92b9, 0x8330, 0x7bc7, 0x6a4e, 0x58d5, 0x495c, 0x3de3, 0x2c6a, 0x1ef1, 0x0f78\n\t\t]\n\t\t\nvar TBL_CRC8 = [\n\t\t\t0x00, 0x5e, 0xbc, 0xe2, 0x61, 0x3f, 0xdd, 0x83, 0xc2, 0x9c, 0x7e, 0x20, 0xa3, 0xfd, 0x1f, 0x41,\n\t\t\t0x9d, 0xc3, 0x21, 0x7f, 0xfc, 0xa2, 0x40, 0x1e, 0x5f, 0x01, 0xe3, 0xbd, 0x3e, 0x60, 0x82, 0xdc,\n\t\t\t0x23, 0x7d, 0x9f, 0xc1, 0x42, 0x1c, 0xfe, 0xa0, 0xe1, 0xbf, 0x5d, 0x03, 0x80, 0xde, 0x3c, 0x62,\n\t\t\t0xbe, 0xe0, 0x02, 0x5c, 0xdf, 0x81, 0x63, 0x3d, 0x7c, 0x22, 0xc0, 0x9e, 0x1d, 0x43, 0xa1, 0xff,\n\t\t\t0x46, 0x18, 0xfa, 0xa4, 0x27, 0x79, 0x9b, 0xc5, 0x84, 0xda, 0x38, 0x66, 0xe5, 0xbb, 0x59, 0x07,\n\t\t\t0xdb, 0x85, 0x67, 0x39, 0xba, 0xe4, 0x06, 0x58, 0x19, 0x47, 0xa5, 0xfb, 0x78, 0x26, 0xc4, 0x9a,\n\t\t\t0x65, 0x3b, 0xd9, 0x87, 0x04, 0x5a, 0xb8, 0xe6, 0xa7, 0xf9, 0x1b, 0x45, 0xc6, 0x98, 0x7a, 0x24,\n\t\t\t0xf8, 0xa6, 0x44, 0x1a, 0x99, 0xc7, 0x25, 0x7b, 0x3a, 0x64, 0x86, 0xd8, 0x5b, 0x05, 0xe7, 0xb9,\n\t\t\t0x8c, 0xd2, 0x30, 0x6e, 0xed, 0xb3, 0x51, 0x0f, 0x4e, 0x10, 0xf2, 0xac, 0x2f, 0x71, 0x93, 0xcd,\n\t\t\t0x11, 0x4f, 0xad, 0xf3, 0x70, 0x2e, 0xcc, 0x92, 0xd3, 0x8d, 0x6f, 0x31, 0xb2, 0xec, 0x0e, 0x50,\n\t\t\t0xaf, 0xf1, 0x13, 0x4d, 0xce, 0x90, 0x72, 0x2c, 0x6d, 0x33, 0xd1, 0x8f, 0x0c, 0x52, 0xb0, 0xee,\n\t\t\t0x32, 0x6c, 0x8e, 0xd0, 0x53, 0x0d, 0xef, 0xb1, 0xf0, 0xae, 0x4c, 0x12, 0x91, 0xcf, 0x2d, 0x73,\n\t\t\t0xca, 0x94, 0x76, 0x28, 0xab, 0xf5, 0x17, 0x49, 0x08, 0x56, 0xb4, 0xea, 0x69, 0x37, 0xd5, 0x8b,\n\t\t\t0x57, 0x09, 0xeb, 0xb5, 0x36, 0x68, 0x8a, 0xd4, 0x95, 0xcb, 0x29, 0x77, 0xf4, 0xaa, 0x48, 0x16,\n\t\t\t0xe9, 0xb7, 0x55, 0x0b, 0x88, 0xd6, 0x34, 0x6a, 0x2b, 0x75, 0x97, 0xc9, 0x4a, 0x14, 0xf6, 0xa8,\n\t\t\t0x74, 0x2a, 0xc8, 0x96, 0x15, 0x4b, 0xa9, 0xf7, 0xb6, 0xe8, 0x0a, 0x54, 0xd7, 0x89, 0x6b, 0x35,\n\t\t]\nfunction _calcCRC16 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x3692\n\t\twhile (size > 0) {\n\t\t\tseed = TBL_CRC16[(seed ^ buf[i]) & 0xff] ^ (seed >> 8)\n\t\t\ti++\n\t\t\tsize--\n\t\t};\n\t\treturn seed\n\t}\n\nfunction _calcCRC8 (buf, size) {\n\t\tvar i = 0\n\t\tvar seed = 0x77\n\t\twhile (size > 0) {\n\t\t\tseed =  TBL_CRC8[(seed ^ buf[i]) & 0xff]\n\t\t\ti++\n\t\t\tsize--\n\t\t}\n\t\treturn seed\n\t}\n\n\t\nfunction buildPacket(pacType, cmdID, seq, data, data_len) {\n\t\tvar size = 11 + (data_len?data_len:(data?data.length:0));\n\t\tvar bb = Buffer.alloc(size)\n\t\tbb.writeUInt8(0xCC,0)\n\t\tbb.writeUInt16LE(size << 3,1)\n\t\tvar crc8 = _calcCRC8([...bb], 3)\n\t\tbb.writeUInt8(crc8,3);\n\t\tbb.writeUInt8(pacType,4);\n\t\tbb.writeUInt16LE(cmdID,5);\n\t\tbb.writeUInt16LE(seq,7);\n\t\t//console.log(\"DBG\", data, len);\n\t\tif (data && !data_len) {\n\t\t\tbb.write(data,9)\n\t\t} else if (data) {\n\t\t\tfor (var i=0; i<data_len; i++) {\n\t\t\t\tbb[9 + i] = data[i];\n\t\t\t}\n\t\t}\n\t\tvar crc16 = _calcCRC16([...bb], size - 2);\n\t\tbb.writeUInt16LE(crc16, size-2)\n\t\treturn bb\n\t}\n\t\nvar payload = Buffer.alloc(3);\npayload[1]=msg.payload[9];\npayload[2]=msg.payload[10];\nstatus = global.get(\"tellomsg\")\nout = buildPacket(0x50, TELLO_CMD_ALT_LIMIT, status.seqID, false);\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":477.58331298828125,"y":999.9999389648438,"wires":[["6d5d7ac0.30a7c4"]]},{"id":"350d6818.8ec6c8","type":"inject","z":"ecd81ac.0812868","name":"DirrectComandALT","topic":"","payload":"cw30","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":1000.0833129882812,"wires":[["709a9e0d.8a90e"]]},{"id":"d96c3248.3d4228","type":"inject","z":"ecd81ac.0812868","name":"Display","topic":"","payload":"cw360","payloadType":"str","repeat":"","crontab":"","once":false,"x":1021.6666259765625,"y":28.333335876464844,"wires":[["9cc74bbf.7d5e78"]]},{"id":"9cc74bbf.7d5e78","type":"function","z":"ecd81ac.0812868","name":"tellosmsg","func":"\n\nmsg.payload = global.get(\"tellomsg\")\t\nreturn msg;\n","outputs":1,"noerr":0,"x":1197.8572998046875,"y":28.333396911621094,"wires":[["e7561f37.a39f08"]]},{"id":"e7561f37.a39f08","type":"debug","z":"ecd81ac.0812868","name":"","active":true,"console":"false","complete":"true","x":1368.0953369140625,"y":28.57141876220703,"wires":[]},{"id":"9f4b3ea8.c292a","type":"ui_group","z":"","name":"Default","tab":"9585eb17.a1eaa8","disp":true,"width":"4"},{"id":"51307415.9740ec","type":"ui_group","z":"","name":"Group 2","tab":"9585eb17.a1eaa8","order":2,"disp":true,"width":"4"},{"id":"b59668a5.00cd3","type":"ui_group","z":"","name":"Group 3","tab":"9585eb17.a1eaa8","order":3,"disp":true,"width":"4"},{"id":"9585eb17.a1eaa8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
